@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>This is a line of text in the home page.</p>
    <p>Another version of a webapp to be deployed by Powershell.</p>
    <p>TestEnvironmentVariable: @Environment.GetEnvironmentVariable("TestEnvironmentVariable")</p>
</div>
